In [1]:
import pandas as pd

In [3]:
data=pd.read_csv(r"D:\Data-Analytics\Automated Sales Data Pipeline\Data\sales_data.csv")
print("Original Data")
data.head()

Original Data

         Date   Product  Quantity  Price  Discount
0  2026-02-05       Tea         5     20      0.00
1  2026-02-05    Coffee         3     30      0.10
2  2026-02-05      Milk         2     25      0.00
3  2026-02-06       Tea         4     20      0.05
4  2026-02-06  Biscuits         6     15      0.00

In [5]:
data=data.dropna() # handle missing values if any

In [6]:
data

         Date   Product  Quantity  Price  Discount
0  2026-02-05       Tea         5     20      0.00
1  2026-02-05    Coffee         3     30      0.10
2  2026-02-05      Milk         2     25      0.00
3  2026-02-06       Tea         4     20      0.05
4  2026-02-06  Biscuits         6     15      0.00
5  2026-02-07     Juice         3     40      0.00
6  2026-02-07      Milk         1     25      0.00
7  2026-02-08    Coffee         5     30      0.10

In [7]:
data=data.drop_duplicates()

In [8]:
data

         Date   Product  Quantity  Price  Discount
0  2026-02-05       Tea         5     20      0.00
1  2026-02-05    Coffee         3     30      0.10
2  2026-02-05      Milk         2     25      0.00
3  2026-02-06       Tea         4     20      0.05
4  2026-02-06  Biscuits         6     15      0.00
5  2026-02-07     Juice         3     40      0.00
6  2026-02-07      Milk         1     25      0.00
7  2026-02-08    Coffee         5     30      0.10

In [9]:
# Add column Total amount
data['Total Amount']=data['Quantity']*data['Price']*(1-data['Discount'])

In [13]:
data['Revenue']=data['Price']*data['Quantity']

In [15]:
data

         Date   Product  Quantity  Price  Discount  Total Amount  Revenue
0  2026-02-05       Tea         5     20      0.00         100.0      100
1  2026-02-05    Coffee         3     30      0.10          81.0       90
2  2026-02-05      Milk         2     25      0.00          50.0       50
3  2026-02-06       Tea         4     20      0.05          76.0       80
4  2026-02-06  Biscuits         6     15      0.00          90.0       90
5  2026-02-07     Juice         3     40      0.00         120.0      120
6  2026-02-07      Milk         1     25      0.00          25.0       25
7  2026-02-08    Coffee         5     30      0.10         135.0      150

In [12]:
# Save clean data to excel
data.to_excel('Clean_Sales_Data.xlsx',index=False)
print("Cleaned Data saved successfully!!!!")

Cleaned Data saved successfully!!!!